.container{
	margin-top: 180px;
	margin-bottom: 100px;
	width: 100%;
}
.page-header{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #333;
}
.panigation{
    list-style: none;

}
.pagination li{
    display: inline-block;
    width: 60px;
    height: 40px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
}
.pagination li:hover{
    background-color: #f5f5f5;
}
.phantrang{
    width: 100%;
    text-align: center;
}
.pagination .page__number{
    display: block;
    text-decoration: none;
    color: #0088cc;
    font-size: 1.6rem;
}
.pagination .page__number:hover{
    color: #005580;
}
.pagination .disable a{
    pointer-events: none;
    color: #999999;
    cursor: default;
    background-color: transparent;
}
.center{
    text-align: center;
}
.item_name{
    font-size: 1.8rem;
    color: #333;
    line-height: 20px;
}
.btn{
    border: 1px solid #cccccc;
    text-decoration: none;
    display: inline-block;
    height: 30px;
    width: 200px;
    line-height: 30px;
    font-size: 1.6rem;
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    color: #0088cc;
    border-radius: 3px;
}
.btn:hover{
    background-image:none;
    background-color: #e6e6e6;
}
.btn__DA{
	outline: none;
	color: #0088cc;
    font-size: 1.6rem;
	width: 60px;
    height: 40px;
    border: 1px solid #dddddd;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
}
.btn__DA:hover{
background-color: #f5f5f5;
color: #005580;
}
