:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ee4d2d;
}
* {
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
}

.align_center{
    text-align: center;
}

/* Header*/

header{
    height: 100px;
    background-color: #f5f5f5;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
/* PC + tablet*/
.header__logo-link{
    text-decoration: none;
    display: block;
    margin-right: 30px;
    padding-left: 12px;
}
.header__logo-tablet{
    text-decoration: none;
    display: none;
    margin-right: 50px;
    padding-left: 12px;
}
.home__icon{
    font-size: 50px;
    color: #0a8742;
    text-align: center;
    position: relative;
    top: 17px;
}
.header__search{
    height: 40px;
    flex: 1;
    background-color: var(--white-color);
    border-radius: 2px;
    position: relative;
    top: 25px;
}
.header__input-form{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 2px;
    border: solid 1px #333;
    border-radius: 2px;
}
.header__search-input{
    font-size: 1.4rem;
    color: var(--text-color);
    height: 95%;
    border: none;
    outline: none;
    padding-left: 8px;
    flex: 1;
}
.header__navbar{
    padding-right: 12px;
    width: 300px;
}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 0 0 0 50px;
    position: relative;
    display: flex;
    top: 35px;
}
.header__navbar-item a{
    text-decoration: none;
    color: #0f22e6;
    font-size: 1.8rem;
    display: inline-block;
}
.header__navbar-item:first-child{
    margin-right: 31px;
}
.header__navbar-item a:hover{
    color: var(--primary-color);
}
.separate::after{
    content: "";
    display:block;
    position: absolute;
    border-left: 1px solid #b69592;
    height: 15px;
    top: 44%;
    left: 104px;
    transform: translateY(-50%);
}
/* Mobile */
.nav__bars-btn{
    width: 30px;
    height: 30px;
    color: rgb(16 20 15);
    display: none;
    margin-left: 20px;
    position: relative;
    top: 32px;
}
.nav__mobile{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.4s;
}
.nav__mobile-list{
    margin-top: 40px;
    list-style: none;
    padding-left: 0;
}
.nav__mobile-link:hover{
    color: var(--primary-color);
}
.nav__mobile-link{
    text-decoration: none;
    color: #333;
    display: block;
    font-size: 1.5rem;
    padding: 10px 0 10px 24px;
    border-bottom: 1px solid rgb(167, 157, 157);
}
.nav__mobile-link:first-child{
    border-top: 1px solid rgb(167, 157, 157);
}
.nav__mobile-close{
    position: absolute;
    top: 5px;
    right: 1rem;
    width: 20px;
    height: 20px;
    color: #666;
    font-size: 1.4rem;
    display: block;
}
.nav__overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    animation: fadeIn linear 0.2s;
    display: none;
}
.nav__mobile-checked:checked ~ .nav__overlay{
    display: block;
}
.nav__mobile-checked:checked ~ .nav__mobile{
    transform: translateX(0);
    opacity: 1;
}
.mobile__search{
    height: 30px;
    flex: 1;
    background-color: var(--white-color);
    border-radius: 2px;
    position: relative;
    top: 35px;
    margin: 0 40px 0 24px;
}
.mobile-form{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 2px;
    border: solid 1px #333;
    border-radius: 2px;
}
.mobile__search-input{
    font-size: 1.4rem;
    color: var(--text-color);
    height: 95%;
    border: none;
    outline: none;
    padding-left: 8px;
    flex: 1;
}
.mobile__search-btn {
    width: 60px;
    height: 95%;
    background-color: #fb5533;
    border: none;
    outline: none;
    border-radius: 2px;
    text-align: center;
}
.mobile__search-btn:hover{
    background-color: #fb6445;
}
.mobile__search-icon{
    color: var(--white-color);
    font-size: 1.5rem;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Slide */
.slide{
    margin: 130px auto 0;
    width: 740px;
    height: 400px;
    position: relative;
    overflow: hidden;
}
.dieuhuong i:first-child{
    position: absolute;
    font-size: 30px;
    top: 48%;
    left: 5px;
}
.dieuhuong{
    display: none;
    color: rgba(39, 35, 35, 0.685);
}
.slide:hover .dieuhuong{
    display: block;
}
.dieuhuong i:last-child{
    position: absolute;
    font-size: 30px;
    top: 48%;
    right: 5px;
}
.chuyen-slide{
    width: 5000px;
    height: 400px;
    transition: all 0.5s;
}

.slide_block{
    float: left;
    width: 740px;
    height: 400px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.slide_title{
    font-size: 2.4rem;
    line-height: 2.5rem;
}
.slide_description{
    font-size: 1.6rem;
    line-height: 2rem;
}
.slide_btn{
    border-radius: 5px;
    padding: 12px;
    text-decoration: none;
    display: inline-block;
    width: 170px;
    height: 40px;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
}
.slide_btn:hover{
    background-image: none;
    background-color: #006dcc;
}

/* Body */
.container{
    margin-top: 30px;
}
.body__title{
    text-align: center;
}
.body__title span{
    font-size: 1.6rem;
}
.body__title h1{
    font-size: 2.4rem;
    line-height: 30px;
}
.courses{
    margin: 50px 0 30px 0;
}
.course{
    text-align: center;
    margin-bottom: 30px;
}
.course__title{
    font-size: 2.0rem;
    line-height: 30px;
}
.course__description{
    font-size: 1.7rem;
    line-height: 20px;
    height: 50px;
}
.course__link{
	text-decoration:none;
    cursor: pointer;
    font-size: 1.7rem;
    color: #0088cc;
}
/* Footer */
footer{
    border-top: 4px solid var(--primary-color);
    padding-top: 12px;
    background-color: #fff;
}
.footer__heading{
    font-size: 1.5rem;
    text-transform: uppercase;
}
.footer-list{
    padding-left: 0;
    list-style: none;

}
.footer-item__link{
    font-size: 1.3rem;
    color: #737373;
    text-decoration: none;
    padding: 8px 0;
    display: flex;
    align-items: center;
}
.footer-item__link:hover{
    color: var(--primary-color);
}
.footer-item__icon{
    font-size: 1.6rem;
    margin: -1px 6px 0 0;
}
.footer__bottom{
    padding: 10px 0 20px;
    background-color: #f5f5f5;
    margin-top: 30px;
}
.footer-text{
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
    color: #737373;
}
/* Modal */
.modal{
    opacity: 1;
    position: relative;
    width: 500px;
    margin: 50px auto;
    border-radius: 10px;
    padding: 10px 30px 10px 10px;
    background-color: #f5f5f5;
    display: none;
}
.modal-header{
    border-bottom: 1px solid rgb(110, 109, 109) ;
}
.modal-title{
    font-size: 1.8rem;
    color: #333;
    line-height: 22px;
}
.modal_list{
    list-style: none;
}
.modal_body{
    margin: 20px 0;
}
.modal_item{
    display: flex;
    align-items: center;
}
.modal_list-link{
    text-decoration: none;
    padding-right: 20px;
}
.modal_list-des{
    text-decoration: none;
    color: #333;
    font-size: 1.8rem;
}
.modal_item:first-child{
    margin-bottom: 50px;
}
.modal_close{
    position: absolute;
    top: 5px;
    right: 1rem;
    width: 20px;
    height: 20px;
    color: #666;
    font-size: 1.4rem;
    display: block;
}
#notcp {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.modal__overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    animation: fadeIn linear 0.2s;
    display: none;
}
.modal-checked:checked ~#overlay1{
    display: block;
}
.modal-checked:checked ~#modal1{
    display: block;
    position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    z-index: 3;
}
#modal_check2:checked ~#overlay2{
    display: block;
}
#modal_check2:checked ~#modal2{
    display: block;
    position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    z-index: 3;
}